extends layout

block content
  #main.container
    include main_cover
  include navbar
  #content.container
      include section_faq
      include section_logistics
      include section_sponsors
      include section_about
      include section_contact
 



