#main.container
  center
    .main_cover
      h1.main_logo hack
        span.PR PR
      h2.date March 29 - 30, 2014
      h2.location University of Puerto Rico - Mayagüez Campus
      form#subscribe_form
        input.main_input_subscribe#email_address(type="email", name="email", placeholder='pre-register with your email', required)
        a#fake_button  go
      .go_to_wrapper
        a#go_to_content(href="#content")