#main.container
  center
    .main_cover
      h1.main_logo Hack
        span.PR PR
      h2.date September 27 - 28, 2014
      br
      h2.location University of Puerto Rico - Mayagüez Campus
      h2.location Rafael A. Mangual Coliseum

      a.home_user_action(href="/register") Register
      a.home_user_action(href="/login") Login