#main.container
  center
    .main_cover
      h1.main_logo hack
        span.PR PR
      h2.date March 29 - 30, 2014
      h2.location University of Puerto Rico - Mayagüez Campus
      form#subscribe_form
        input.main_input_subscribe#email_address(type="email", name="email", placeholder='pre-register with your email', required)
        a#fake_button  go
      .go_to_wrapper
        a#go_to_content(href="#content")


    button.btn.btn-primary.hide.btn-lg#success_modal(data-toggle='modal', data-target='#myModal')

    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-body
            h3 You are Awesome!
            p We've succefully added you, 
              span#current_email
              | , to our mailling list. 
            p Big things are approching :D