.main_cover
  center
    h1.main_logo hack
      span.PR PR
    h2.date March 29 - 30, 2014
    h2.location University of Puerto Rico - Mayagüez Campus
    form#subscribe_form(action='/hacker', method="post")
      input.main_input_subscribe(type="email", id="email", name="email", placeholder='email')
      a#fake_button(onclick='submit()')  go
      button.submit_btn(type="submit" id="hidden_submit") Submit
    .go_to_wrapper
      a#go_to_content(href="#faq")