#main.container
  center
    .main_cover
      h1.main_logo hack
        span.PR PR
      h2.date March 29 - 30, 2014
      h2.location University of Puerto Rico - Mayagüez Campus
      h2.location Business Administration Building
      //- a.register.grow-rotate(href='/register')  Register Now!
      row
        .col-md-3
          a.register.grow-rotate(href="#rules_aux") Rules
        .col-md-3
          a.register.grow-rotate(href="#agenda_aux" style="background:#68a3c4") Agenda
        .col-md-3
          a.register.grow-rotate(href="#judges_aux" style="background:#e7bf59") Judges
        .col-md-3
          a.register.grow-rotate(href="#prizes_aux" style="background:#d0524e") Prizes

      .go_to_wrapper
        a#go_to_content(href="#content")
