nav.navbar.navbar-default#navbar(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#nav_menu')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#main')
        .main_logo hack
          span.PR PR
    #nav_menu.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a.faq_nav.active(href="#faq") FAQ
          li
            a.logistics_nav(href="#logistics") Logistics
          li
            a.sponsors_nav(href="#sponsors") Sponsors
          li
            a.about_nav(href="#about") About
          li
            a.contact_nav(href="#contact") Contact