nav.navbar.navbar-default#navbar(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#nav_menu')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#main')
        .main_logo hack
          span.PR PR
    #nav_menu.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a.logistics_nav(href="#") Register
          li
            a.logistics_nav(href="#") FAQ
          li
            a.logistics_nav(href="#") Rules
          li
            a.logistics_nav(href="#") Prizes