extends layout

//- block script
//-   script(src='/js/user.js')
    
//- block content
//-   include register-navbar
//-   .container
//-     h1 Create your account
//-     form(role='form')
//-     .form-group
//-       label(for='exampleInputEmail1') Email address
//-       input#exampleInputEmail1.form-control(type='email', placeholder='Enter email')
//-     .form-group
//-       label(for='exampleInputPassword1') Password
//-       input#exampleInputPassword1.form-control(type='password', placeholder='Password')
//-     //.form-group
//-     //  label(for='exampleInputPassword1') Password
//-     //  input#exampleInputPassword1.form-control(type='password', placeholder='Password')
        
//-     a.btn.btn-default.register_submit(href="#") Submit
