extends layout

block content
  #form-container
    #wufoo-q6oax2n13r9kss
     a(href="https://hackpr.wufoo.com/forms/q6oax2n13r9kss", target="_blank") Register

  script.
    var q6oax2n13r9kss;(function(d, t) {
    var s = d.createElement(t), options = {
    'userName':'hackpr', 
    'formHash':'q6oax2n13r9kss', 
    'autoResize':true,
    'height':'1254',
    'async':true,
    'host':'wufoo.com',
    'header':'show', 
    'ssl':true};
    s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
    s.onload = s.onreadystatechange = function() {
    var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
    try { q6oax2n13r9kss = new WufooForm();q6oax2n13r9kss.initialize(options);q6oax2n13r9kss.display(); } catch (e) {}};
    var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
    })(document, 'script');

