#logistics_div.content_section.container
  h1 Logistics
    span#logistics_aux.menu_offset
    span#logistics.external_offset
  .row
    .col-md-6
      h3 Event Details
      ul
        li Place: University of Puerto Rico Mayagüez Campus - Business Administration Building
        li Date: Saturday, March 29, 2014 through Sunday, March 30, 2014 
        li Time: 12:00pm (Noon)
        li Transportation will be provided for people traveling from San Juan, PR
    .col-md-6
      iframe#map_iframe(src="https://mapsengine.google.com/map/u/0/embed?mid=zTa9-uneDxk0.kr3lxJGpQwNM" frameBorder="0")
  br
  br
  h1 Agenda
    span#agenda.external_offset

  .row
    .col-md-6
      h3 Saturday
      table.table.table-striped
        thead
          tr
            th Hour
            th Description
            th Location
        tbody
          tr
            td 10:30am
            td Registration Open & Mingle
            td Lobby
          tr
            td 11:30am
            td Official Welcoming 
            td AE242 (Amphitheater)
          tr
            td 1:00pm
            td Hackathon Starts
            td Hackers Room 
          tr
            td 2:00pm 
            td General Electric Workshop
            td Conference Room 
          tr
            td 3:30pm 
            td Goldman Sachs Workshop
            td Conference Room 
          tr
            td 5:30pm 
            td Google Workshop
            td Conference Room 
          tr
            td 6:30pm
            td Dinner
            td Hallways
          tr
            td 7:30pm 
            td Optivon Workshop
            td Conference Room 
          tr
            td 9:30pm 
            td Accenture Workshop
            td Conference Room 
          tr
            td 10:30pm 
            td E3 Consulting Workshop/Tech-Talk
            td Conference Room 

    .col-md-6
      h3 Sunday
      table.table.table-striped
        thead
          tr
            th Hour
            th Description
            th Location
        tbody
          tr
            td 12:00am
            td Mid-Night Dinner
            td Hallways
          tr
            td 8:00am
            td Breakfast
            td Hallways
          tr
            td 1:00pm
            td Hackathon Finishes
            td Hackers Rooms
          tr
            td 1:30pm - 4:00pm
            td Demo Presentations
            td AE242 (Amphitheater)
          tr
            td 4:00pm 
            td Awards & Final Remarks
            td AE242 (Amphitheater)
          tr
            td 5:00pm 
            td Closing
            td AE242 (Amphitheater)
      h4 Hackers Rooms: 
  br
  br
  br
  h1 Rules
    span#agenda.external_offset
  .row
    .col-md-6
      h2 hackPR Event Rules
      ul
        li Teams can have 1 to 5 members
        li A participant can only belong (write code) to one group
        li The use of any API is permitted; the use of our sponsor APIs is encouraged.  
        li All projects presented at hackPR must be developed during the event. 
        li Project contents must be general audience rated. 
        li No loud music in any of the hacker rooms
        li Teams retain full ownership of their projects.
        li Be respectful to other hackers 
        li Everybody must be identified at all times.
        li All participants must respect and abide by hackPR rules.
    .col-md-6
      h2 Venue Rules
      ul
        li The use of classroom projectors is forbidden. 
        li Please refrain from damaging university property.
        li No alcohol or alcohol consumption allowed. 





          
