#about_div.content_section.container
  h1 About
    span#about.menu_offset
  #history_div
    h3 History
    .row
      .col-md-6
<<<<<<< HEAD
        p Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur est at lobortis. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.
        p Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur blandit tempus porttitor.
        p Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
=======
        p 
        | With the support of the local Puerto Rico Startup group 
        a(href="http://www.startupsofpuertorico.com/") (SoPR) 
        | and companies such as SendGrid, GitHub, Parse, Explorer Media, Blimp among others, hackPR was held on December 21, 2012 in Santurce, PR. For 12 hours, 50 of the most talented developers from PR fueled by energy drinks and crazy ideas went on to create awesome and innovative hacks.        
        p   Enjoying great success, hackPR was then moved to the University of Puerto Rico Mayagüez campus for a second event just three months after. During hackPR v2 over 125 developers gathered from all over the island to spend 12 hours hacking at different projects both software and hardware based.
        | Companies such as OpenShift (Red Hat), Google, Microsoft among others joined our previous cast of sponsors in the efforts of guiding and mentoring developers during the hackathon. Photos from our previous hackathon can be found 
        a(href="https://www.facebook.com/media/set/?set=a.625382710810385.1073741825.286721348009858&type=3") here.
>>>>>>> 23c44c465879273315bf03bc1947cfe6cdb4d1fa
      .col-md-6
        img#about_img_1(src="/img/about_1.JPG")