#logistics_div.content_section.container
  h1 Logistics
    span#logistics.menu_offset
  .row
    .col-md-6
      h4 Event Details
      ul
        li
          p Place: University of Puerto Rico Mayagüez Campus
        li
          p Date: Saturday, March 29, 2014 through Sunday, March 30, 2014 
        li
          p Time: 12:00pm (Noon)
        li
          p Transportation will be provided for people traveling from San Juan, PR
    .col-md-6
      iframe#map_iframe(src="https://mapsengine.google.com/map/u/0/embed?mid=zTa9-uneDxk0.kr3lxJGpQwNM" frameBorder="0")
