#sponsors_div.content_section.container
  span.underline
    h1 Sponsors
    span#sponsors
      br
      p Interested in sposoring us? Check out our 
        a(href='sponsorship.pdf') sponsorship docs 
        | and contact us @ 
        a(href='mailto:info@hackpr.io') info@hackpr.io
    