#sponsors_div.content_section.container
  span.underline
    h1 Sponsors
<<<<<<< HEAD
    span#sponsors.menu_offset
    
=======
      span#sponsors.menu_offset
    p Interested in sposoring us? Check out our 
      a(href='sponsorship.pdf') sponsorship docs
      |  and contact us at 
      a(href='mailto:info@hackpr.io') info@hackpr.io
    .row
      .col-md-4
      .col-md-4
        img(src='/img/sendgrid.png')
      .col-md-4
  
>>>>>>> 23c44c465879273315bf03bc1947cfe6cdb4d1fa
