#logistics_div.content_section.container.top
  h1 Logistics
    span#logistics_aux.menu_offset
    span#logistics.external_offset
  .row
    .col-md-6
      h3 Event Details
      ul
        li Place: University of Puerto Rico Mayagüez Campus - Business Administration Building
        li Date: Saturday, March 29, 2014 through Sunday, March 30, 2014 
        li Registration Open: 10:30pm
        li Event Start: 11:30pm
    .col-md-6
      iframe#map_iframe(src="https://mapsengine.google.com/map/u/0/embed?mid=zTa9-uneDxk0.kr3lxJGpQwNM" frameBorder="0")
  br
  br
  h1 Agenda
    span#agenda_aux.menu_offset
    span#agenda.external_offset

  .row
    .col-md-6
      h3 Saturday
      table.table.table-striped
        thead
          tr
            th Hour
            th Description
            th Location
        tbody
          tr
            td 10:30am
            td Registration Open & Mingle
            td Lobby
          tr
            td 11:30am
            td Official Welcoming 
            td AE242 (Amphitheater)
          tr
            td 1:00pm
            td Hackathon Starts
            td Hackers Room 
          tr
            td 2:00pm 
            td General Electric Workshop
            td Conference Room 
          tr
            td 3:30pm 
            td Goldman Sachs Workshop
            td Conference Room 
          tr
            td 5:30pm 
            td Google Workshop
            td Conference Room 
          tr
            td 6:30pm
            td Dinner
            td Hallways
          tr
            td 7:30pm 
            td Optivon Workshop
            td Conference Room 
          tr
            td 9:30pm 
            td Accenture Workshop
            td Conference Room 
          tr
            td 10:30pm 
            td E3 Consulting Workshop/Tech-Talk
            td Conference Room 

    .col-md-6
      h3 Sunday
      table.table.table-striped
        thead
          tr
            th Hour
            th Description
            th Location
        tbody
          tr
            td 12:00am
            td Mid-Night Dinner
            td Hallways
          tr
            td 8:00am
            td Breakfast
            td Hallways
          tr
            td 1:00pm
            td Hackathon Finishes
            td Hackers Rooms
          tr
            td 1:30pm - 4:00pm
            td Demo Presentations
            td AE242 (Amphitheater)
          tr
            td 4:00pm 
            td Awards & Final Remarks
            td AE242 (Amphitheater)
          tr
            td 5:00pm 
            td Closing
            td AE242 (Amphitheater)
      h4 Hackers Rooms: 
      p AE233, AE234, AE235, AE236, AE237, AE302, AE303, AE304, AE305, AE306
  br
  br
  br
  h1 Rules
    span#rules_aux.menu_offset
    span#rules.external_offset
  .row
    .col-md-6
      h2 hackPR Event Rules
      ul
        li Teams can have 1 to 5 members
        li A participant can only belong (write code) to one group
        li The use of any API is permitted; the use of our sponsor APIs is encouraged.  
        li All projects presented at hackPR must be developed during the event. 
        li Project contents must be general audience rated. 
        li No loud music in any of the hacker rooms
        li Teams retain full ownership of their projects.
        li Be respectful to other hackers 
        li Everybody must be identified at all times.
        li All participants must respect and abide by hackPR rules.
    .col-md-6
      h2 Venue Rules
      ul
        li The use of classroom projectors is forbidden. 
        li Please refrain from damaging university property.
        li No alcohol or alcohol consumption allowed. 
  br
  br
  br
  h1 Prizes
    span#prizes_aux.menu_offset
    span#prizes.external_offset
  .row
    .col-md-7
      p It’s not really about the prizes, but it’s also nice to be rewarded for your efforts :)
      h3 Best Hardware
      p Best hack that makes use of some sort of hardware implementation, be it an Arduino, MapleMini, MSP430 Microcontrollers or similar gadgets.
      h3 Best Web
      p The hack with the best implementation of web technologies, be it frontend with the use of HTML/CSS, backend using Java Play framework, NodeJS, Django, Ruby on Rails, Flask, PHP or other similar framework.
      h3 Best Mobile
      p The hack with the best use of a mobile technology, such as iOS, Android, and Windows Phone to create a hack.
      h3 Best Overall Hack
      p This prize goes out the the most “out-of-the-box” hack.The best hack of them all. This include hack complexity, completeness, and all around design.  
      h3 Secret Category
      p To be announced during the event.
  br
  br
  br
  h1 Mentors
    span#mentors_aux.menu_offset
    span#mentors.external_offset
  table.table.table-striped
    thead
      tr
        th Name
        th Company
        th Expertise
        th Email
    tbody
      tr
        td Yamil Asusta
        td SendGrid
        td WebDev/Node/Python
        td yamil@sendgrid.com
      tr
        td Jesús Luzón 
        td CodingCaciques  
        td Java/Scala  
        td jesus.luzon@upr.edu
      tr
        td Manuel Marquez 
        td CodingCaciques  
        td Android, Java 
        td manuel.marquez1@upr.edu 
      tr
        td Wigberto Maldonado 
        td Dawiwi  
        td Excel
        td wigberto.maldonado@upr.edu
      tr
        td David Bartolomei 
        td Explorer Media  
        td HTML, CSS, Javascript, NodeJS, MongoDB 
        td david@explorermedia.com 
      tr 
        td Antonio Borges
        td Goldman Sachs 
        td Java, HTML, CSS, JavaScript, PHP, SQL
        td antonio.borges@gs.com    
      tr
        td Omar Ferrer  
        td Goldman Sachs 
        td Java, CSS, JavaScript, PHP, SQL
        td omar.ferrer@gs.com 
      tr
        td Alex Rivera
        td Polsense
        td Ruby, Objective-C, Rails, iOS 
        td axel@polsense.com
      tr
        td Roberto Rosario
        td Cryptico
        td Python, SQL, Arduino 
        td roberto.rosario@crypticocorp.com  
      tr
        td Helga Carrero 
        td Cryptico Legal 
        td Intellectual Property
        td helga.carrero@crypticocorp.com
      tr
        td Hector Ramos 
        td Parse+Facebook  
        td Java, Ruby, Objective-C, JavaScript, HTML, CSS, JavaScript, NoSQL, SQL, NodeJS, jQuery, Rails, iOS, Android, MSP430 or Related  
        td hramos@fb.com  
      tr 
        td Wilfredo Nieves  
        td Optivon 
        td C, C++, Java, C#, Python, Ruby, HTML, CSS, JavaScript, PHP, NoSQL(MongoDB,Redis), SQL(MySQL,PostgresSQL,MariaDB), NodeJS, AngularJS, jQuery, Rails, Play, Android, WindowsPhone   
        td l.ramos@ge.com
      tr 
        td Maria Sanchez  
        td Honeywell 
        td C, C++, Java, C#, Python, HTML, JavaScript, PHP, SQL, jQuery, iOS, Android, WindowsPhone, Arduino, ARMCortex  
        td maria.sanchez3@honeywell.com
      tr
        td  Mario Guajardo-Cespedes
        td Google 
        td C++, Python, HTML, Android  
        td guajardo@google.com
      tr
        td Reineiro Lopez 
        td Honeywell 
        td C, Java, Verilog, VHDL, SystemVerilog, HTML, CSS, ARMCortex, CPLDs, FPGAs, ASICs, ARM Buses(AHB, APB) 
        td reineiro.lopez@honeywell.com 
      tr 
        td Emmanuel Lopez 
        td Honeywell 
        td C, C++, VHDL, SyetemVerilog, HTML, CSS, JavaScript  
        td emm4nu3l@hotmail.com  
      tr 
        td Osvaldo Mangual  
        td Honeywell 
        td C++, C#, Other, VHDL, HTML, SQL, Arduino  
        td osvaldo.mangual@gmail.com 
      tr 
        td Gerard O'Neill
        td Etsy
        td Java, Python, Ruby, HTML, CSS, JavaScript, PHP, NoSQL, SQL, jQuery, Flask, Sinatra  
        td goneill@etsy.com
      tr
        td Steve Andrews
        td Etsy
        td Python, PHP, Go, HTML, JavaScript, PHP, SQL, NodeJS, jQuery, Revel 
        td steve@etsy.com
      tr
        td Axel Marquez 
        td Honeywell 
        td C, C++, C# 
        td axel.marquez@honeywell.com
      tr 
        td Ryan Oliver  
        td SendGrid
        td HTML, CSS, JavaScript, PHP, NoSQL, SQL, NodeJS, AngularJS, jQuery, Rails, Other, Ember.js, Backbone.js, Bootstrap, Foundation, jQuery, Mobile, d3.js, SASS, LESS, Jade, Handlebars, Mustache, Coffeescript, Git 
        td ryan.oliver@warbyparker.com
      tr
        td Juan Gomez
        td Honeywell 
        td C, C++, Java, MSP430 or Related, Arduino, ARMCortex 
        td juan.gomez2@honeywell.com                                                                                                                                                                                                                                                                         




















