#judges_div.content_section.container
  h1 Judges
    span#judges_aux.menu_offset
  br
  .row
    .col-md-6
      img.front-judge(src="img/judges/manolo.jpg", alt="")
      h3 Manuel Jiménez, PhD
      h4.bottom Assoicate Dean, College of Engineering
      h4.top University of Puerto Rico - Mayagüez
      a.btn-bio(data-toggle='modal', data-target='#jimenez', href="#")
        | Bio
    .col-md-6
      img.front-judge(src="img/judges/rios.jpg", alt="")
      h3 Miguel Rios
      h4 Twitter
      a.btn-bio(data-toggle='modal', data-target='#rios', href="#")
        | Bio
  .row
    .col-md-6
      img.front-judge(src="img/judges/ramos.png", alt="")
      h3 Hector Ramos
      h4 Parse+Facebook
      a.btn-bio(data-toggle='modal', data-target='#ramos', href="#")
        | Bio
    .col-md-6
      img.front-judge(src="img/judges/arce.jpg", alt="")
      h3 Rafael Arce, PhD
      h4.bottom Associate Profesor
      h4.top University of Pueto Rico - Rio Piedras
      a.btn-bio(data-toggle='modal', data-target='#arce', href="#")
        | Bio
  .row
    .col-md-6
      img.front-judge(src="img/judges/roberto.jpg", alt="")
      h3 Roberto Rosario
      h4 Criptico
      a.btn-bio(data-toggle='modal', data-target='#rosario', href="#")
        | Bio
      //- a.btn.btn-primary.btn-bio(href="http://", target="_blank") Biography
      //- p Roberto Rosario is a globally recognized Free software pioneer and technology community leader.  Best known for some of his creations, like madNES, Mayan EDMS, Attack of the Moronians, Django Inventory, Descartes BI, Open Relay and L.I.B.R.E.
      //- p During 2013 he worked as Director of Software Development for the Government of Puerto Rico.  Mr. Rosario created, and managed, the official Puerto Rico Government Github account. He also created, and publicly released, video games as an example of their potential as a method of economic development.  Furthermore, Mr. Rosario created the L.I.B.R.E. API Engine to help government agencies transfer data electronically, as well as release their data to the public. He created, for the first time, a government technology projects planning system, code named LEAN Tech. He also created the first government sponsored IT internships at the Office of Management and Budget and, with the helps of said interns, developed the “Governor’s Dashboard” pilot project, a business intelligence initiative that allowed the Governor of Puerto Rico quick access to the key performance indicators of several government agencies in real time, marking the first time Free Software has been officially developed and released by the local government.  While working for the government, Mr. Rosario organized, and managed, the first government hackathon and was a key figure in developing the Puerto Rico government’s Responsive Website Design guidelines.
      //- p Roberto is an active community leader and is the founder of several communities in Puerto Rico, i.e. Betabeers Puerto Rico, Puerto Rico Hardware Hackers, Puerto Rico Biohackers, and The Puerto Rico Libre Developers and Solution Providers Network. As well as founding communities, Roberto is a technology speaker and sponsor of student groups like #include <girls>.
    .col-md-6
      img.front-judge(src="img/judges/antani.jpg", alt="")
      h3 Snehal Antani
      h4 CIO Commercial Distribution Finance (CDF) & Enterprise Architecture at GE Capital
      a.btn-bio(data-toggle='modal', data-target='#antani', href="#")
        | Bio
      //- p Snehal Antani holds dual roles at GE Capital: first, he serves as the CIO for Commercial Distribution Finance (CDF), where's responsible for driving digital business strategies; and second, he serves as the Chief Architect and CIO of Enterprise Architecture for GE Capital Americas, where he's responsible for defining the technology vision, strategy, and architecture for the Capital-Americas business. Prior to GE Capital, Snehal spent over a decade at IBM within Software Middleware Group, where he held a variety of roles across development, lab services, and product management. He has served as a trusted advisor to many Global 500 companies across industries including financial services, insurance, healthcare, telco, etc; where he has helped shape their technology strategies, drive transformations, and enable them to capture new revenue with emerging technologies
      //- p Snehal has disclosed numerous patents and technical publications in the domains of enterprise application infrastructure and high-volume transaction processing. He earned a BS in computer science from Purdue University, and an MS in computer science from Rensselaer Polytechnic Institute (RPI) in Troy, NY with a thesis in the area of quantifying and improving the resiliency of middleware infrastructures.
 





  #jimenez.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#myModalLabel.modal-title Manuel Jiménez, PhD
        .modal-body
          p Professor Jiménez obtained an engineering degree from the “Universidad Autónoma de Santo Domingo” in Dominican Republic in 1986 with a major in electromechanical engineering focusing in the design of microprocessor-based power control systems. From 1986 to 1999 worked as an industry consultant in the area of microprocessor-based machinery control boards. During this period he also worked for the Dominican Power Electric Company as a system analyst in the load dispatch center. 
          p In 1991 he obtained a Master’s of Science degree in Electrical Engineering from the University of Puerto Rico at Mayagüez (UPRM). His master’s work concentrated in communication protocols for wireless channels and microprocessor systems design. Until 1994, he worked as an instructor at the Electrical and Computer Engineering (ECE) Department of the UPRM, teaching, among others, courses in electronics, microprocessors, and embedded systems. At the same time, he also collaborated with several local industries in projects in the area of microprocessor-based systems. In 1999, he obtained a Ph.D. degree in Electrical Engineering from Michigan State University, in East Lansing, Michigan. At that point, he re-joined the UPRM faculty where he currently holds an Associate Professor position. His current research interests include embedded systems design, rapid systems prototyping, and low-power techniques in digital VLSI systems. In the past, professor Jiménez has received four grants from Texas Instruments, company with which he maintains a tight collaboration through several funded research projects in the area of mixed-signal systems. In addition he has been a visiting professor in the headquarters of Texas Instruments in Dallas, TX. The work of professor Jiménez has produced more than twenty technical papers published in local and international conferences and journals. Professor Jiménez is a professional member of the IEEE, advisor of the local Circuits and Systems student chapter, and member of the ASEE. Dr. Jimenez is the current Associate Dean of the School of Engineering and recently published a book titled “Introduction to Embedded Systems using Microcontrollers and the MSP430”. 

   #rios.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4#myModalLabel.modal-title Miguel Ríos
            .modal-body
              p Miguel leads the Visual Insights team at Twitter, where he has seen the company and its product grow exponentially in the last four years. He received his Bachelors in Computer Engineering from the University of Puerto Rico at Mayaguez while he worked as a freelancer doing software design and development. Subsequently, Miguel tried grad school at University of Maryland where he did research on large scale data analysis and visualizations. He eventually dropped out and moved to San Francisco. Miguel is interested in large scale data analysis, computational social science and civic innovation. 
  
    #ramos.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4#myModalLabel.modal-title Hector Ramos
            .modal-body
              p Héctor laboró por cuatro años en EVERTEC como arquitecto de sistemas de banca antes de dedicarse al desarrollo de aplicaciones móviles, y los “backends" que las apoyan, como parte de Polsense. Su interés en el area de backends para aplicaciones móviles, y su pasión por los startups, lo llevo a unirse a Parse, un startup originalmente basado San Francisco, California, que ahora forma parte de Facebook. Héctor se graduó del Recinto Universitario de Mayagüez con un bachillerato en Ingeniería de Computadoras. 

    #arce.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4#myModalLabel.modal-title Rafael Arce, PhD
            .modal-body
              p Rafael Arce Nazario es catedrático asociado del Departamento de Ciencia de Cómputos de la UPR-RP desde 2008. Actualmente es director interino del departamento. Obtuvo su grado doctoral del programa CISE en UPR-M supervisado por Dr. Manuel Jimenez. Sus investigaciones publicadas se relacionan mayormente al diseño de arquitecturas customizadas para acelerar soluciones a problemas matemáticos. Participó en el primer hackathon de hackpr, en donde aportó el multímetro que fue esencial para el triunfo del proyecto de Kite Labs

    #rosario.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4#myModalLabel.modal-title Roberto Rosario
            .modal-body
              p Roberto Rosario is a globally recognized Free software pioneer and technology community leader.  Best known for some of his creations, like madNES, Mayan EDMS, Attack of the Moronians, Django Inventory, Descartes BI, Open Relay and L.I.B.R.E.
              p During 2013 he worked as Director of Software Development for the Government of Puerto Rico.  Mr. Rosario created, and managed, the official Puerto Rico Government Github account. He also created, and publicly released, video games as an example of their potential as a method of economic development.  Furthermore, Mr. Rosario created the L.I.B.R.E. API Engine to help government agencies transfer data electronically, as well as release their data to the public. He created, for the first time, a government technology projects planning system, code named LEAN Tech. He also created the first government sponsored IT internships at the Office of Management and Budget and, with the helps of said interns, developed the “Governor’s Dashboard” pilot project, a business intelligence initiative that allowed the Governor of Puerto Rico quick access to the key performance indicators of several government agencies in real time, marking the first time Free Software has been officially developed and released by the local government.  While working for the government, Mr. Rosario organized, and managed, the first government hackathon and was a key figure in developing the Puerto Rico government’s Responsive Website Design guidelines.
              p Roberto is an active community leader and is the founder of several communities in Puerto Rico, i.e. Betabeers Puerto Rico, Puerto Rico Hardware Hackers, Puerto Rico Biohackers, and The Puerto Rico Libre Developers and Solution Providers Network. As well as founding communities, Roberto is a technology speaker and sponsor of student groups like #include <girls>.

    #Antani.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4#myModalLabel.modal-title Snehal Antani
            .modal-body
              p Roberto Rosario is a globally recognized Free software pioneer and technology community leader.  Best known for some of his creations, like madNES, Mayan EDMS, Attack of the Moronians, Django Inventory, Descartes BI, Open Relay and L.I.B.R.E.
              p During 2013 he worked as Director of Software Development for the Government of Puerto Rico.  Mr. Rosario created, and managed, the official Puerto Rico Government Github account. He also created, and publicly released, video games as an example of their potential as a method of economic development.  Furthermore, Mr. Rosario created the L.I.B.R.E. API Engine to help government agencies transfer data electronically, as well as release their data to the public. He created, for the first time, a government technology projects planning system, code named LEAN Tech. He also created the first government sponsored IT internships at the Office of Management and Budget and, with the helps of said interns, developed the “Governor’s Dashboard” pilot project, a business intelligence initiative that allowed the Governor of Puerto Rico quick access to the key performance indicators of several government agencies in real time, marking the first time Free Software has been officially developed and released by the local government.  While working for the government, Mr. Rosario organized, and managed, the first government hackathon and was a key figure in developing the Puerto Rico government’s Responsive Website Design guidelines.
              p Roberto is an active community leader and is the founder of several communities in Puerto Rico, i.e. Betabeers Puerto Rico, Puerto Rico Hardware Hackers, Puerto Rico Biohackers, and The Puerto Rico Libre Developers and Solution Providers Network. As well as founding communities, Roberto is a technology speaker and sponsor of student groups like #include <girls>.




