#contact_div.content_section
  #contact_sub_div.container
    h1 Contact
      span#contact_aux.menu_offset
    .row
      .col-md-2
        a(href="https://www.facebook.com/HackPuertoRico", target="_blank")
          img.social_icon(src="img/fb.png", alt="")
        a(href="https://twitter.com/HackPuertoRico", target="_blank")
          img.social_icon(src="img/tw.png", alt="")
    .row
      .col-md-6
        a.contact_email(href="mailto:info@hackpr.io", target="_blank") info@hackpr.io

