#faq_div.content_section.container
        h1 Frequently Asked Questions
          span#faq_aux.menu_offset
        .row
          .col-md-6
            h3 What is a Hackathon?
            p As defined by wikipedia: A hackathon (also known as a hack day, hackfest or codefest) is an event in which computer programmers and others involved in software development, including graphic designers, interface designers and project managers, collaborate intensively on software projects
            h3 What is hackPR?
            p hackPR is Puerto Rico’s biggest student hackathon heading into it’s second year. Last year, more than 100 of PRs best developers and hardware hackers gather to create some awesome projects during a 24 hour span. 
            h3 I’m not a student anymore, can I still participate?
            p hackPR is open for everyone and anyone.
            h3 What if I’m a newbie?
            p No problem, no prior knowledge is required to participate in hackPR. There will be on-site mentors ready to aid fellow hackers in the most popular languages and platforms. 
            h3 What should I bring?
            p Essentially only a laptop and it’s charger. Bring all components needed for developing your hack. There will be tons of food, snacks and energy drinks at the event. There will also be tons of wall plugs and chairs, however it is encouraged that you bring a multiplug. 
          .col-md-6
            h3 Can I start working before the hackathon?
            p All code developed towards your hack must be developed during the appointed time. That being said, the design specifications of the hack can be drafted beforehand. 
            h3 Demos?
            p There will be an opportunity to demo at the end of the hackathon. It’s not obligatory to demo an application, yet is highly recommended that you do so. The feedback received from doing so will be invaluable.
            h3 Teams Size?
            p Teams should consist of no more than 5 members. 