#faq_div.content_section
        h1 Frequently Asked Questions
          span#faq.menu_offset
        .row
          .col-md-6
            h3 What is a Hackathon?
            p As defined by wikipedia: A hackathon (also known as a hack day, hackfest or codefest) is an event in which computer programmers and others involved in software development, including graphic designers, interface designers and project managers, collaborate intensively on software projects
            h3 What is HackPR?
            p hackPR is Puerto Rico’s biggest university hackathon heading into it’s second year. Last year, more than 100 of PRs best developers and hardware hackers gather to create some awesome projects during a 12 hour span. 
            h3 I’m not a student anymore, can I still participate?
            p hackPR is open for anyone to participate, however in order to be eligible for the prizes, the participant must be a student with a valid .edu email address. 
            h3 What if I’m a newbie?
            p There are no restrictions on skill level for this hackathon, however, participants are encouraged to have prior programming or hacking experience.
            h3 What should I bring?
            p Essentially only a laptop and it’s charger. If other components are required for your project, these must be brought, no components will be provided.
            h3 Will there be food?
            p Expect tons of food and SCHWAG 
          .col-md-6
            h3 Can I start working before the hackathon?
            p All code developed towards your hack must be developed during the appointed time. That being said, the design specifications of the hack can be drafted beforehand. 
            h3 How does the judging works?
            p 
            h3 What are demos like?
            p
            h3 Teams Size?
           p There is essentially no size limit, but is recommended to not exced 5 members.