#sponsors_div.content_section.container
  span.underline
    h1 Sponsors
      span#sponsors.menu_offset
    p Interested in sposoring us? Check out our 
      a(href='sponsorship.pdf') sponsorship docs
      |  and contact us at 
      a(href='mailto:info@hackpr.io') info@hackpr.io
    .row
      .col-md-4
        a(href="http://www.mongodb.org/", target="_blank")
          img(src='/img/sponsors/mongodb.jpg')
      .col-md-4
        a(href="http://sendgrid.com/", target="_blank")
          img(src='/img/sponsors/sendgrid.png')
      .col-md-4
        a(href="http://uprm.edu/", target="_blank")
          img.limit_height(src='/img/sponsors/uprm.jpg')
    .row(style='margin-top:40px;')
      .col-md-4
        a(href="http://parse.com/", target="_blank")
          img(src='/img/sponsors/parse.png')
      .col-md-4
        a(href="https://www.optivon.com/us/", target="_blank")
          img(src='/img/sponsors/optivon.png')
      .col-md-4
        a(href="http://www.accenture.com/us-en/pages/index.aspx", target="_blank")
          img(src='/img/sponsors/accenture.png')
    .row(style='margin-top:40px;')
      .col-md-4
        a(href="http://www.etsy.com/developers", target="_blank")
          img(src='/img/sponsors/etsy.jpg')
      .col-md-4
        a(href="#", target="_blank")
          img(src='/img/sponsors/georiot.png')
      .col-md-4
        a(href="#", target="_blank")
          img(src='/img/sponsors/mashery.jpg')
    .row(style='margin-top:40px;')
      .col-md-4
        a(href="http://polsense.com/", target="_blank")
          img.limit_height(src='/img/sponsors/polsense.jpg')       

  