#about_div.content_section.container
  h1 About
    span#about.menu_offset
  #history_div
    h3 History
    .row
      .col-md-6
        p With the support of the local Puerto Rico Startup group 
          a(href="http://www.startupsofpuertorico.com/") (SoPR) 
          | and companies such as SendGrid, GitHub, Parse, Explorer Media, Blimp among others, hackPR was held on December 21, 2012 in Santurce, PR. For 12 hours, 50 of the most talented developers from PR fueled by energy drinks and crazy ideas went on to create awesome and innovative hacks.        
        p Enjoying great success, hackPR was then moved to the University of Puerto Rico Mayagüez campus for a second event just three months after. During hackPR v2 over 125 developers gathered from all over the island to spend 12 hours hacking at different projects both software and hardware based.
          | Companies such as OpenShift (Red Hat), Google, Microsoft among others joined our previous cast of sponsors in the efforts of guiding and mentoring developers during the hackathon. Photos from our previous hackathon can be found 
          a(href="https://www.facebook.com/media/set/?set=a.625382710810385.1073741825.286721348009858&type=3") here.
      .col-md-6
        img#about_img_1(src="/img/about_1.JPG")