/*Colors:
 blue: 68a3c4
 green: a3bd64
 yellow: e7bf59
 red: d0524e
 purple: 9d9bbe
*/
html, body{
  border: none;
}

html, body{
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

/*main*/

#main{
  /*text-align: center !important;*/
}
#main.container{
  background-image: url('/img/bg_2low.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position:center;
  width: 100% !important;
  padding: 0 !important;
  color: #fff;
}

.main_cover{
  position: static;
  background-color: rgba(0,0,0,0.75);
  width: 100%;
  height: 100% !important;
}

h1.main_logo{
  margin-top: 0px;
  padding-top: 12%;
  font-size: 200px;
  margin-bottom: 0px;
  text-shadow: 0px 0px 2px #000;
  width: 600px;
  letter-spacing:-10px;
  margin-right:60px;
}

span.PR{
  color:#a3bd64; 
}


nav .main_logo{
  margin-top: 0px;
  font-size: 24px;
  padding-top: 6px;
  width: 100px;
}


h2.date{
  font-size: 46px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 500px;
}

h2.location{
  font-size: 20px;
  margin-top: 0px;
  width: 500px;
}



a#fake_button{
  background-color: rgba(255,255,255,0.15); 

  height: 60px;
  width: 100px;
  display: block;
  color: #fff;
  font-size: 30px;
  line-height: 50px;
  text-decoration: none;
  font-weight: lighter;
  float: right;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
}

a#fake_button:hover{
  background-color: rgba(255,255,255,0.3); 
  color: #ffffff;
}


.main_input_subscribe{
  background-color: rgba(255,255,255,0.15);
  border:none;
  height: 60px;
  width:500px;
  font-size: 30px;
  padding-left: 10px;
  color: #a3bd64;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
}

.main_input_subscribe:hover{
  background-color: rgba(255,255,255,0.2);
}

#subscribe_form{
  width: 600px;
  margin-top: 40px;
}


.main_input_subscribe::-webkit-input-placeholder {
    color: #a3bd64;
    font-weight: lighter;
}
.main_input_subscribe:-moz-placeholder {
    color: #a3bd64;
    font-weight: lighter;
}
.main_input_subscribe::-moz-placeholder {
    color: #a3bd64;
    font-weight: lighter;
}
.main_input_subscribe:-ms-input-placeholder {
    color: #a3bd64;
    font-weight: lighter;
}

button.submit_btn{
  display: none;
}

#go_to_content{
  background-image: url('/img/next_icon2.png');
  background-repeat: no-repeat;
  display: block;
  width: 50px;
  height: 50px;
  background-size: 50px;
  opacity: 0.5;
}


.go_to_wrapper{
  position: absolute;
  left: 50%;
  bottom: 0px;
}
#go_to_content{
  position: relative;
  left: -50%;
  -webkit-animation: pulsate 3s ease-out;
  -webkit-animation-iteration-count: infinite; 
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(1, 1);}
    50% {-webkit-transform: scale(1.2, 1.2);}
    100% {-webkit-transform: scale(1, 1);}
}

/*NAVBAR*/
.fixed{
  position: fixed;
  top: 0;
  width: 100%;
}

#nav_menu{
  height: 60px !important;
}
.navbar-default {
  /*background: rgba(163, 189, 100, 0.75);*/
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  border:none;
  z-index: 4;
}

.navbar{
  min-height: 50px;
  border-radius: 0px;

}

.navbar-nav>li{
  height: 60px;
  padding-right: 6px;
  padding-left: 6px;
}

.navbar-nav>li>a{
  line-height: 30px;
  font-size: 14px;
  /*color: #fff !important;*/
  color: #000;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: right;
}
.navbar-nav .active a {
  /*background: rgba(163, 189, 100, 1);*/
  border-bottom: 2px solid #a3bd64 !important;
  border:none;
}

.navbar-nav>li:hover a{
  /*background: rgba(163, 189, 100, 1);*/
  border-bottom: 2px solid #a3bd64 !important;

}

nav a:hover{
  background: none !important;
}

.navbar-default .navbar-nav>.active>a{
  background: none;
}
.navbar-default .navbar-nav>.active>a:active{
  background: none;
}

#back_to_top{
  background-image: url('/img/back_to_top.png');
  width: 40px;
  background-size: 40px;
  background-repeat: no-repeat;
  margin-top: 25px;
  position: absolute;
  margin-left: 50px;
}

#back_to_top:hover{
  background: url('/img/back_to_top.png') no-repeat!important;
  width: 40px;
  background-size: 40px;
  background-repeat: no-repeat;
  margin-top: 25px;
  position: absolute;
  margin-left: 50px;
}

/*CONTENT*/
#content{
  /*height: 100%;*/
  padding-top: 20px;
  display: block;
  z-index: 10 !important;
  margin-bottom: 400px;
}

#faq{
    height: 100vh;
}
.menu_offset, .faq_offset{
  position: relative;
  top: -92px;
}

.content_section{
  /*width: 100%;*/
  min-height: 400px;
  z-index: 2;
}

a.section {
    font-weight:bold;
    font-size:25px;
}

.content_section{
  /*background-color: #fff;*/
  /*margin-top: -10px;*/
  /*padding: 50px;*/
  margin-top: 50px;
}
.content_section h1{
  margin-top: 0px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  padding-bottom: 2px;
  font-weight: 200;
  /*margin-bottom: 20px;*/
  width: auto;
  display:inline-block; 
}


footer{
  background-image: url('/img/stressed_linen.png');
  width: 100%;
  /*position: fixed;*/
  z-index: 2;
  min-height: 500px;
  display: block;
  background-color: #333; 
  bottom: 0px;
}


/*LOGISTICS*/

#map_iframe{
  width: 100%;
  height: 100%;
  min-height: 400px;
}

/*ABOUT*/

.profile{
  width: 33.3%;
/*  padding-right: 50px;
  padding-left: 50px;*/
}

.profile img{
  width: 100%;
}

.profile_row{
  /*margin-top: 40px;*/
  /*width: 80%;*/
  margin: 0 auto;
}

h3.margin_top_60{
  /*margin-top: 60px;*/
  text-align: center;
}

/*#team_div{
  padding: 50px;
  width: 100%;
  background-color: #68a3c4;
  color: #fff;
}

#history_div{
  padding: 50px;
  width: 100%;
  background-color: #d0524e;
  color: #fff;
}*/

#about_img_1{
  /*border: 2px solid #f9f9f9;*/
  width: 100%;
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,1);
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,1);
}


#team_div{
  margin-top: 60px;
}

/*CONTACT*/

/*#contact_sub_div{
  background-color: #e7bf59;
}

*/
/*Mobile media query*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
  h1.main_logo{
    width: auto;
    font-size: 80px;
  }
  h2.date{
    width: auto;
    font-size: 30px;
  }
  h2.location{
    width: auto;
  }
  #subscribe_form{
    width: 90%;
  }
  .main_input_subscribe{
    width: 75%;
    float: left;
  }
  a#fake_button{
    width: 25%;
    float: right;
  }
  #back_to_top, #back_to_top:hover{
    margin-top: 15px;
    margin-left: 10px;
  }
  #nav_menu{
    height: auto !important;
  }
  .content_section{
    margin-top: 0px !important;
    padding: 10px !important;
    padding-top: 40px !important;
  }
  #content{
    padding-top: 0px !important; 
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background: #a3bd64 !important;
  }
  .navbar-nav>li{
    height: 40px !important;
  }
  .navbar-nav>li>a{
    line-height: 20px;
    font-size: 18px;
    color: #333 !important;
  }
  .menu_offset{
    top: -60px;
  }
  .faq_offset{
    /*position*/: relative;
    top: -190px;
  }
  #faq_div.content_section{
    padding-top: 0px;
  }
  .main_input_subscribe{
    font-size: 16px;
  }
}


/*debugging stuff*/

#contact_div{
  padding-top: 20px;
  background: url('/img/stressed_linen.png');
  color: #fff;
}



#sponsors_div img{
  width: 300px;
}

img.social_icon{
  width: 60px;
  padding-right: 20px;
}

.contact_email{
  font-size: 50px;
  color: #a3bd64;
  text-decoration: italic;
  font-weight: lighter;
  margin-top: 40px;
}

.contact_email:hover{
  color: white;
  text-decoration: none;
  text-transform: italic;
}
#contact_sub_div{
  /*text-align: right;*/
}

#contact_sub_div h1{
  /*text-align: left;*/
}

#myModal *{
  color: #333;
}

#current_email{
  color: #a3bd64
}

